<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SpecFlow" version="2.1.0" targetFramework="net452" />
  <package id="SpecRun.Runner" version="1.6.0-rc003" targetFramework="net452" />
  <package id="SpecRun.SpecFlow" version="1.6.0-rc003" targetFramework="net452" />
  <package id="SpecRun.SpecFlow.2-1-0" version="1.6.0-rc003" targetFramework="net452" />
</packages>